/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style */

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: calc(0.6em + 0.9vw);
}

h1 {
    font-size: calc(3em + 0.9vw);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.7vmin;
}

/* Layout */
.container {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-areas: 
    "head"
    "section_first"
    "section_second"
    "section_third"
    "section_fourth"
    "footer";  
}

/* Header */

.header {
    grid-area: head;
    background-image: url(../img/background__code.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategrey;
    display: grid;
    grid-template-rows: 7vh 36vh 7vh;
    grid-template-areas: 
    "top"
    "mid"
    "low";
}

.header__overlay {
    background-color:rgba(14, 25, 54, 0.5);
    grid-area: mid;
    width: 95%;
    display: grid;
    color: white;
    margin: 3vw;
    padding: 1vw;
    overflow: hidden;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns:  0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas:
    "left-top center center right-top"
    "left-low center center right-low";
}

.header__wrapper {
 grid-area: center;
 align-self: center;
 text-align: center;
 text-transform: uppercase;
}

.image__wrapper {
    grid-area: right-low;
    align-self: end;
    display: flex;
    justify-content: flex-end;
}

.header__image {
    width: auto;
    height: 10vh;
    max-height: 10vw;
    margin: 0.5vw;
}

.navbar  {
    height: 7.3vh;
    grid-area: low;
    list-style: none;
    display: flex;
    background-color:rgba(14, 25, 54, 0.8);
    border-bottom: 2px solid #5f7c9e;
    font-size: 3vh;
    z-index: 10;
}

.navbar__item {
    text-decoration: none;
    border-radius: 7px;
    margin: 0.2vw 0.7vw 0.2vw 0.7vw;
    text-align: center;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}

.navItem__link {
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
}

/* The sticky class is added to the navbar with JS*/
.navbar--stick {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgba(14, 25, 54, 0.8);
    
  }

/* All Sections */

.section {
    height: 50vh;
    background-color: #d5e6e9;
    width: 100vw;
    overflow: hidden;
    border-bottom: 2px solid #5f7c9e;
    color: #0E1936;
    padding: 8vh 4vh 4vh 4vh;
}

.section__text {
    text-align: justify;
}

.section__heading {
    text-transform: uppercase;
    margin-bottom: 2vw;
}
/* First Section */

.section__first {
    grid-area: section_first;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button {
    background-color:rgba(14, 25, 54, 0.7);
    border: none;
    color:#e7e9eb;
    font-weight: 300;
    font-size: inherit;
    letter-spacing: 0.3vw;
    padding: 0.8vw;
    margin-top: 4vw;
    border-radius: 7px;
    cursor: pointer;
}

.button--small {
    display: none;
}

/* Second Section */

.section__second {
    grid-area: section_second;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.features__items {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2vw;

}

.features__item {
    margin: 0.5vw;
}

.icon--larger {
    font-size: 4vw;
    margin: 0.5vw;
}

/* Third Section */

.section__third {
    grid-area: section_third;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card__wrapper {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.card {
    height: 28vh;
    width: 30vw;
    perspective: 500px;
    margin: 1vw;
    position: relative;
}

.card__page {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    color:#e7e9eb;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0; 
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    padding: 1vw;
    transition: all 850ms ease;
    backface-visibility: hidden;  
}

.card__first-project {
    background-image: url("../img/project__react--coffee4.png");
}

.card__second-project {
    background-image: url("../img/project__HTML--outdoor4.png");
}

.card__page--first {
    background-repeat: no-repeat;
    background-size: cover;
}

.card__page--second {
    background-color:rgba(14, 25, 54, 1);
    transform: rotateY(180deg);
}

.card:hover .card__page--first {
    transform: rotateY(-180deg);
}

.card:hover .card__page--second {
    transform: rotateY(0);
}

/* Fourth Section */

.section__fourth {
    grid-area: section_fourth;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section__text--spaced {
    padding-bottom: 1vw;
}

.agile__logos {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.agile__logo {
    max-width: 7vh;
    margin: 1vw;
    filter: grayscale(100%);
}

/* Footer */

.footer {
    grid-area: footer;
    background-color:rgba(14, 25, 54, 1);
    color:#e7e9eb;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__subheading {
    margin: 1rem;
}

.footer__copyright {
    margin: 5rem 2rem 2rem 2rem;
}

.footer__social-icon  {
    padding: 5px;
    text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.9);
    color: #C2C3C4;
    font-size: 4.5vw;
}

/* Styling for active in viewport */

/* Active sections */

.active--on {
    background-color: #a9b7b9;
}

/* Active navbar */
.nav__item--active--on {
  background-color: rgba(91, 170, 174, 0.7)
}

/* scrolling to anchor links for the whole page */

html {
	scroll-behavior: smooth;
}

@media only screen and (max-width: 412px) {
    .button--big {
        display: none;
    }

    .button--small {
        display: block;
    }

    .icon--larger {
        font-size: 6vw;
        margin-top: 9vw;
    }

    .card__page {
        text-align: center;
    }

    .agile__logos {
        display: none;
    }
}
